Source: python-freerange
Section: python
Priority: optional
Maintainer: Eric Evans <eevans@racklabs.com>
Build-Depends: debhelper (>= 5.0.37.2), python-support (>= 0.3)
Build-Depends-Indep: python-all-dev
Standards-Version: 3.7.2

Package: python-freerange
Architecture: all
Depends: ${python:Depends}
Provides: ${python:Provides}
Description: python client library for CloudFS storage system
 CloudFS is a parallel virtualized distributed storage system being developed
 by Racklabs. Unlike a traditional POSIX compliant filesystem, CloudFS 
 requires that applications access storage through the use of a web 
 services API. Freerange provides a client-side library for these web
 services in Python.
 .
  Homepage: http://ryder.racklabs.com/trac
